theme = "gruber-darker"




#
# EDITOR
# 



[editor]
line-number = "relative"
mouse = false
bufferline = "multiple"
# auto-save = true
idle-timeout = 0
# rulers = [100]
color-modes = false
true-color = true

[editor.statusline]

right = ["diagnostics", "position", "position-percentage", "file-encoding", "file-type"]
# version-control
[editor.lsp]
display-messages = true
display-inlay-hints = true

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.file-picker]
hidden = false

[editor.soft-wrap]
enable = true



#
# NORMAL MODE
# 




[keys.normal]
"C-d" = ["half_page_down", "goto_window_center"]
"C-u" = ["half_page_up", "goto_window_center"]
esc = ["collapse_selection", "keep_primary_selection"]
";" = ["flip_selections"]
"," = "repeat_last_motion"
X = ["extend_line_up", "extend_to_line_bounds"]
# h = "no_op"
# l = "no_op"
# "C-w" = "no_op"
"H" = "goto_previous_buffer"
"L" = "goto_next_buffer"
C-g = [
    ":write-all",
    ":insert-output lazygit >/dev/tty",
    ":redraw",
    ":reload-all"
]
"C-/" = "toggle_comments"

#Shift current line up and down  
A-up = [
  "extend_to_line_bounds",
  "delete_selection",
  "move_line_up",
  "paste_before"
]
A-down =  ["extend_to_line_bounds", "delete_selection", "paste_after"]

# Config Reload
F5 = ":config-reload"



C-right = "move_next_word_start"
C-left = "move_prev_word_end"
# C-up = "move_line_up"
# C-down = "move_line_down"


# Scroll
C-up = ["move_line_up", "scroll_up"]
C-down = ["move_line_down", "scroll_down"]
C-k = ["move_line_up", "scroll_up"]
C-j = ["move_line_down", "scroll_down"]


# Duplicate current line
"C-A-down" = ["extend_to_line_bounds", "yank", "paste_after"]

[keys.normal."="]
"("= "rotate_selection_contents_backward"
")" = "rotate_selection_contents_forward"
s = "split_selection_on_newline"
b = "add_newline_below"
a = "add_newline_above"
"+" = "format_selections"


[keys.normal.space]
e = [
  ":sh rm -f /tmp/unique-file-h21a434",
  ":insert-output yazi '%{buffer_name}' --chooser-file=/tmp/unique-file-h21a434",
  ":insert-output echo \"x1b[?1049h\" > /dev/tty",
  ":open %sh{cat /tmp/unique-file-h21a434}",
  ":redraw",
 ":set mouse false",
 ":set mouse true",
]

#
# INSERT MODE
# 



[keys.insert]
up = "move_line_up"
down = "move_line_down"
left = "move_char_left"
right = "move_char_right"
pageup = "no_op"
pagedown = "no_op"
home = "no_op"
end = "no_op"

C-right = "move_next_word_start"
C-left = "move_prev_word_end"
C-up = "move_line_up"
C-down = "move_line_down"


#
# SELECT MODE
#

[keys.select]
#Shift current line up and down  
A-up = [
  "extend_to_line_bounds",
  "delete_selection",
  "move_line_up",
  "paste_before"
]
A-down =  ["extend_to_line_bounds", "delete_selection", "paste_after"]


# Duplicate current line
"C-A-down" = ["extend_to_line_bounds", "yank", "paste_after"]
